<h1>Listing transaction_type_masters</h1>

<table>
  <tr>
    <th>Transaction type</th>
    <th>Transaction type prefix</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @transaction_type_masters.each do |transaction_type_master| %>
  <tr>
    <td><%= transaction_type_master.transaction_type %></td>
    <td><%= transaction_type_master.transaction_type_prefix %></td>
    <td><%= link_to 'Show', transaction_type_master %></td>
    <td><%= link_to 'Edit', edit_transaction_type_master_path(transaction_type_master) %></td>
    <td><%= link_to 'Destroy', transaction_type_master, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Transaction type master', new_transaction_type_master_path %>
