<h2>Listing societies</h2>

<table>
  <tr>
    <th>Name</th>
    <th>Address</th>
    <th>Suburb</th>
    <th>City</th>
    <th>Zip</th>
    <th>State</th>
    <th>Total Flats</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @societies.each do |society| %>
  <tr>
    <td><%= society.society_name %></td>
    <td><%= society.society_address_line1 %></td>
    <td><%= society.society_address_line2 %></td>
    <td><%= society.society_city %></td>
    <td><%= society.society_pincode %></td>
    <td><%= society.society_state %></td>
    <td><%= society.number_of_flats %></td>
     
    <td><%= link_to 'Show', society %></td>
    <td><%= link_to 'Edit', edit_society_path(society) %></td>
    <td><%= link_to 'X', society, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>
<br />

<%= link_to 'New Society', new_society_path %>
