<nav class="menu round medium">
    
   <%= link_to "Unit Setup  |", unitsetup_path %>
   <%= link_to "Master  |", master_path %>
   <%= link_to "Assign Members  |", assignmember_path %>
   
   <%= link_to "TrTypeMaster |", transaction_type_masters_path %>
   <%= link_to "LedgerDetail |", ledger_details_path %>
   <%= link_to "Committee |", committees_path %>
   <%= link_to "Bills |", bills_path %>
   <%= link_to "BillTransaction |", bill_transactions_path %>
   <%= link_to "BillSetup |", bill_setups_path %>
   <%= link_to "BillDetail |", bill_details_path %>
   <%= link_to "AccountTransaction |", account_transactions_path %>
   <%= link_to "AccountGroup |", account_groups_path %>
   
</nav>
  