<!DOCTYPE html>
<html>
<head>
  <title>Chsdesk</title>
    
  <%= javascript_include_tag "application", "jquery.tokeninput" %>
  
  <%= csrf_meta_tags %>
 
   <%= render 'layouts/stylesheets' %>

</head>
<body>
<div class="container round">
	    <div class="header" class="span-24 ">
	      <%= render 'header' %>
	    </div>
    <hr /> 
	    <div id="subheader" class="span-24 ">
		 <%= render 'header_menu' %>
	    </div>
    <hr />  
         <div class="span-8 colborder">
         <div class="box round"> 
	        <h4 class="prepend-3">Financials</h4>
	
	       <p> Total outstanding:  12,30,789.90</p>
	        Last month bill:	 1,45,690.75
	     </div>
  		</div>
		    <div class="span-8 colborder">
		    	<div class="box round">
	        <h4 class="prepend-3">Complaints</h4>
	        <p>
	        1. Pessages not cleaned
	        2. There was no parking available
	        3. Leakage from terrace
	        4. There was no water today
	        </p>      
	      </div>
	      </div>
	     <div class="span-7 last">
	     	<div class="box round">
	        <h4 class="prepend-3">Write a Review</h4>
	        <p>
	        This is actually one Blueprint grid .
	        </p>      
	      </div>
			</div>
    <div class="span-19 round" id="content">
       <p>
    	 <% flash.each do |key, value| %>
	          <%= content_tag(:div, value, :class => "flash #{key}") %>
	         <% end %>
	        <%= yield %>
       </p>
    </div>

    <div class="span-4 last" id="sidebar">
      <%= render 'sidebar' %>
    </div>

    <div id="footer" class="span-24 last">
       <%= render 'footer' %>
    </div>
</div>

</body>
</html>
