<%= form_for @member, :validate => true do |f| %>
  <% if @member.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@member.errors.count, "error") %> prohibited this member from being saved:</h2>

      <ul>
      <% @member.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  
 
  	<table border="1">

    <td><%= f.label :first_name %></td>
    <td><%= f.label :last_name %></td>
    <td><%= f.label :suffix %></td>
  <tr>
   	<td><%= f.text_field :first_name %></td>
    <td><%= f.text_field :last_name %></td>
    <td><%= f.text_field :suffix%></td>
   <tr>
    <td><%= f.label :date_of_birth %></td>
    <td><%= f.label :email_id %></td>
    <td><%= f.label :gender %></td>
  <tr>
  	<td><%= f.date_select :date_of_birth %></td>
    <td><%= f.text_field :email_id %></td>
    <td><%= f.text_field :gender %></td>
  <tr>
    <td><%= f.label :mobile_phone %></td>
    <td><%= f.label :home_phone %></td>
    <td><%= f.label :work_phone %></td>
   <tr>
    <td><%= f.text_field :mobile_phone %></td>
    <td><%= f.text_field :home_phone %></td>
    <td><%= f.text_field :work_phone %></td>
  <tr>
    <td><%= f.label "Address" %></td>
     <td><%= f.label 'Locality/Suburb' %></td>
      <td><%= f.label 'City' %></td>
      <tr>
   	 <td><%= f.text_field :primary_address_line1 %></td>
     <td><%= f.text_field :primary_address_line2  %></td>
   	 <td><%= f.text_field :primary_address_city %></td>	
  <tr>
    
     <td><%= f.label 'State' %></td>
     <td><%= f.label 'Country' %></td>
     <td><%= f.label 'Zip Code' %></td>
   <tr>   
   
     <td><%= f.text_field :primary_address_state %></td>
     <td><%= f.text_field :primary_address_country %></td>
     <td><%= f.text_field :primary_address_pincode %></td>
  </table>

 <table border="1">
  
    <td><%= f.label 'Are you Owner?' %></td>
    <td><%= f.check_box :is_owner %></td>
    <td><%= f.label 'Do you live here?' %></td>
    <td><%= f.check_box :live_here %></td>
    <td><%= f.label 'Bills via Email?' %></td>
    <td><%= f.check_box :email_bills %></td>
    <td><%= f.label 'SMS Bills?' %></td>
    <td><%= f.check_box :sms_bills %></td>
 
  <tr>   
    <td><%= f.label 'SMS Reciept?' %></td>
    <td><%= f.check_box :sms_reciept %></td>
    <td><%= f.label 'Non Occupency Charges?' %></td>
    <td><%= f.check_box :noc_charges %></td>
    <td><%= f.label 'Parking Charges?' %></td>
   	<td><%= f.check_box :parking_charges %></td>
    <td><%= f.label 'Are you Member?' %></td>
   	<td><%= f.check_box :is_mcmember %></td>
 </table>
     <%= f.submit %>

<% end %>
