<h2>Listing members</h2>

<table>
  <tr>
     <th>First</th>
    <th>Last</th>
    <th>Suffix</th>
    <th>D.O.B.</th>
    <th>Mobile phone</th>
    <th>Email</th>
    <th>Address</th>
    <th>City</th>
    <th>Zip</th>


    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @members.each do |member| %>
  <tr>
    <td><%= member.first_name %></td>
    <td><%= member.last_name %></td>
    <td><%= member.suffix %></td>
    <td><%= member.date_of_birth %></td>
    <td><%= member.mobile_phone %></td>
    <td><%= member.email_id %></td>
    <td><%= member.primary_address_line1 %></td>
    <td><%= member.primary_address_city %></td>
    <td><%= member.primary_address_pincode %></td>

    <td><%= link_to 'Show', member %></td>
    <td><%= link_to 'Edit', edit_member_path(member) %></td>
    <td><%= link_to 'X', member, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Member', new_member_path %>
