<p id="notice"><%= notice %></p>

<p>
  <b>Unit:</b>
  <%= @member.unit_id %>
</p>

<p>
  <b>First name:</b>
  <%= @member.first_name %>
</p>

<p>
  <b>Last name:</b>
  <%= @member.last_name %>
</p>

<p>
  <b>Suffix:</b>
  <%= @member.suffix %>
</p>

<p>
  <b>Date of birth:</b>
  <%= @member.date_of_birth %>
</p>

<p>
  <b>Home phone:</b>
  <%= @member.home_phone %>
</p>

<p>
  <b>Mobile phone:</b>
  <%= @member.mobile_phone %>
</p>

<p>
  <b>Work phone:</b>
  <%= @member.work_phone %>
</p>

<p>
  <b>Email:</b>
  <%= @member.email_id %>
</p>

<p>
  <b>Gender:</b>
  <%= @member.gender %>
</p>

<p>
  <b>Member photo:</b>
  <%= @member.member_photo %>
</p>

<p>
  <b>Photo:</b>
  <%= @member.photo_id %>
</p>

<p>
  <b>Primary address line1:</b>
  <%= @member.primary_address_line1 %>
</p>

<p>
  <b>Primary address line2:</b>
  <%= @member.primary_address_line2 %>
</p>

<p>
  <b>Primary address city:</b>
  <%= @member.primary_address_city %>
</p>

<p>
  <b>Primary address pincode:</b>
  <%= @member.primary_address_pincode %>
</p>

<p>
  <b>Primary address state:</b>
  <%= @member.primary_address_state %>
</p>

<p>
  <b>Primary address country:</b>
  <%= @member.primary_address_country %>
</p>

<p>
  <b>Is owner:</b>
  <%= @member.is_owner %>
</p>

<p>
  <b>Live here:</b>
  <%= @member.live_here %>
</p>

<p>
  <b>Email bills:</b>
  <%= @member.email_bills %>
</p>

<p>
  <b>Sms bills:</b>
  <%= @member.sms_bills %>
</p>

<p>
  <b>Sms reciept:</b>
  <%= @member.sms_reciept %>
</p>

<p>
  <b>Noc charges:</b>
  <%= @member.noc_charges %>
</p>

<p>
  <b>Parking charges:</b>
  <%= @member.parking_charges %>
</p>

<p>
  <b>Is mcmember:</b>
  <%= @member.is_mcmember %>
</p>


<%= link_to 'Edit', edit_member_path(@member) %> |
<%= link_to 'Back', members_path %>
